In [1]:
import numpy as np
import pandas as pd

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
 movies=movies.merge(credits,on='title')

In [6]:
movies.shape
credits.shape

(4803, 4)

In [7]:
movies.shape

(4803, 20)

In [9]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [12]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [15]:
movies.dropna(inplace=True)

In [18]:
movies.duplicated().sum()

np.int64(0)

In [19]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [26]:
 def convert(obj):
     L=[]
     for i in ast.literal_eval(obj):
         L.append(i['name'])
     return L

In [28]:
movies['genres']=movies['genres'].apply(convert)

In [25]:
import ast
ast.iteral_eval()

AttributeError: module 'ast' has no attribute 'iteral_eval'

In [29]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [31]:
movies['keywords']=movies['keywords'].apply(convert)

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [39]:
 def convert3(obj):
     L=[]
     counter=0
     for i in ast.literal_eval(obj):
         if counter!=3:
             L.append(i['name'])
             counter+=1
         else:
              break
     return L

In [41]:
movies['cast']=movies['cast'].apply(convert3)

In [192]:
movies.head()
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew,tags
905,10312,Patch Adams,"[Meet, Patch, Adams,, a, doctor, who, doesn't,...","[Comedy, Drama]","[nurse, hospital, doctor, laughter]","[RobinWilliams, PhilipSeymourHoffman, BobGunton]",[TomShadyac],"[Meet, Patch, Adams,, a, doctor, who, doesn't,..."
878,3683,Flags of Our Fathers,"[There, were, five, Marines, and, one, Navy, C...","[War, Drama, History]","[worldwarii, dyinganddeath, pacific, iwojima, ...","[RyanPhillippe, AdamBeach, JesseBradford]",[ClintEastwood],"[There, were, five, Marines, and, one, Navy, C..."
4545,45649,Rubber,"[In, the, California, desert,, the, adventures...","[Comedy, Drama, Fantasy, Horror, Mystery]","[explodingbuilding, duringcreditsstinger]","[ThomasF.Duffy, DavidBowe, StephenSpinella]",[QuentinDupieux],"[In, the, California, desert,, the, adventures..."
1956,33157,Waterloo,"[After, defeating, France, and, imprisoning, N...","[History, Action, Drama]","[biography, napoleonbonaparte, waterloo]","[RodSteiger, ChristopherPlummer, OrsonWelles]",[SergeyBondarchuk],"[After, defeating, France, and, imprisoning, N..."
2869,19419,Screwed,"[A, chauffeur, kidnaps, his, rich, boss's, dog...","[Action, Comedy]",[],"[NormMacdonald, DaveChappelle, DannyDeVito]",[ScottAlexander],"[A, chauffeur, kidnaps, his, rich, boss's, dog..."

In [43]:
 def fetch_director(obj):
     L=[]
     for i in ast.literal_eval(obj):
         if i['job']=='Director':
             L.append(i['name'])
             break
     return L

In [45]:
movies['crew']=movies['crew'].apply(fetch_director)

In [46]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [54]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [49]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [51]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [52]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [55]:
movies['tags']=movies['overview']+movies['genres']+movies['cast']+movies['crew']

In [56]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [57]:
new_df=movies[['movie_id','title','tags']]

In [58]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [60]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Admin\AppData\Local\Temp\ipykernel_17276\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [61]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [62]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [150]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

C:\Users\Admin\AppData\Local\Temp\ipykernel_17276\4224080999.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

In [64]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [169]:
# new_df['tags'][1]
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [170]:
vectors =cv.fit_transform(new_df['tags']).toarray()

In [157]:
vectors[0]

array([0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [171]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [161]:
len(cv.get_feature_names_out())

5000

In [162]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [73]:
cv.get_feature_names_out()

array(['000', 'accident', 'accidentally', 'action', 'adventure',
       'adventures', 'affair', 'age', 'agent', 'alien', 'alive',
       'america', 'american', 'ancient', 'angeles', 'animation', 'apart',
       'army', 'arrives', 'art', 'artist', 'attack', 'attempt',
       'attempts', 'away', 'baby', 'bad', 'band', 'based', 'battle',
       'beautiful', 'begin', 'begins', 'believe', 'believes', 'ben',
       'best', 'better', 'big', 'black', 'blood', 'body', 'bond', 'book',
       'born', 'boss', 'boy', 'boyfriend', 'break', 'bring', 'brings',
       'british', 'brother', 'brothers', 'business', 'california',
       'called', 'captain', 'car', 'career', 'case', 'caught', 'century',
       'chance', 'change', 'changes', 'characters', 'charlie', 'child',
       'childhood', 'children', 'christmas', 'cia', 'city', 'class',
       'close', 'club', 'coach', 'college', 'come', 'comedy', 'comes',
       'coming', 'community', 'company', 'control', 'cop', 'country',
       'couple', 'crash', 'creatures', 'crew', 'crime', 'criminal',
       'cross', 'dangerous', 'danny', 'dark', 'daughter', 'david', 'day',
       'days', 'dead', 'deadly', 'deal', 'death', 'decide', 'decides',
       'deep', 'desperate', 'despite', 'destroy', 'detective',
       'determined', 'different', 'director', 'discover', 'discovers',
       'doctor', 'documentary', 'does', 'doesn', 'dog', 'don', 'dr',
       'drama', 'dream', 'dreams', 'drug', 'early', 'earth', 'end',
       'ends', 'enemy', 'english', 'entire', 'epic', 'escape',
       'estranged', 'events', 'eventually', 'evil', 'ex', 'face', 'faces',
       'fall', 'falls', 'family', 'famous', 'fantasy', 'far', 'fate',
       'father', 'fbi', 'fellow', 'female', 'fight', 'fighting', 'film',
       'final', 'finally', 'finds', 'following', 'follows', 'force',
       'forced', 'forces', 'foreign', 'forever', 'form', 'frank', 'free',
       'french', 'friend', 'friends', 'friendship', 'future', 'game',
       'gang', 'george', 'gets', 'getting', 'girl', 'girlfriend', 'girls',
       'god', 'goes', 'going', 'good', 'government', 'great', 'group',
       'guy', 'hands', 'happens', 'happy', 'hard', 'having', 'head',
       'heart', 'help', 'hero', 'high', 'hired', 'history', 'hit',
       'hollywood', 'home', 'hope', 'hopes', 'horror', 'hotel', 'house',
       'human', 'hunter', 'husband', 'identity', 'ii', 'including',
       'inside', 'international', 'involved', 'island', 'jack', 'jackson',
       'james', 'jean', 'jimmy', 'job', 'john', 'join', 'joins', 'jones',
       'journey', 'just', 'kid', 'kidnapped', 'kids', 'kill', 'killed',
       'killer', 'killing', 'king', 'know', 'known', 'knows', 'land',
       'late', 'later', 'law', 'lawyer', 'lead', 'leader', 'leading',
       'leads', 'learn', 'learns', 'leave', 'leaves', 'led', 'lee',
       'left', 'legendary', 'life', 'like', 'little', 'live', 'lives',
       'living', 'local', 'london', 'long', 'look', 'looking', 'lord',
       'los', 'losing', 'lost', 'love', 'lover', 'major', 'make', 'makes',
       'making', 'man', 'marriage', 'married', 'master', 'meet', 'meets',
       'members', 'men', 'michael', 'middle', 'mike', 'military', 'mind',
       'missing', 'mission', 'mob', 'modern', 'mom', 'money', 'mother',
       'moves', 'movie', 'mr', 'murder', 'murdered', 'music',
       'mysterious', 'mystery', 'named', 'needs', 'neighborhood', 'new',
       'nick', 'night', 'novel', 'officer', 'old', 'order', 'owner',
       'pair', 'parents', 'partner', 'party', 'past', 'paul', 'people',
       'perfect', 'personal', 'peter', 'place', 'plan', 'planet', 'plans',
       'play', 'plot', 'police', 'political', 'popular', 'power',
       'powerful', 'powers', 'president', 'prison', 'professor',
       'protect', 'puts', 'queen', 'quest', 'quickly', 'race', 'ray',
       'real', 'reality', 'realizes', 'really', 'relationship',
       'reporter', 'rescue', 'rest', 'return', 'returns', 'revenge',
       'rich', 'right', 'rival', 'road', 'robert', 'robertdeniro', 'rock',
       'role', 'romance', 'romantic', 'run', 'russian', 'ruthless', 'sam',
       'san', 'save', 'school', 'sciencefiction', 'sea', 'search',
       'second', 'secret', 'secrets', 'security', 'seemingly', 'self',
       'sent', 'series', 'set', 'sets', 'sex', 'ship', 'singer', 'single',
       'sister', 'small', 'society', 'son', 'soon', 'south', 'space',
       'special', 'spirit', 'star', 'stars', 'start', 'starts', 'state',
       'states', 'stay', 'stop', 'stories', 'story', 'strange', 'street',
       'streets', 'struggle', 'struggles', 'student', 'students',
       'successful', 'suddenly', 'summer', 'survive', 'taken', 'takes',
       'taking', 'tale', 'teacher', 'team', 'teen', 'teenage', 'teenager',
       'tells', 'terrifying', 'thing', 'things', 'thinks', 'thriller',
       'time', 'tom', 'town', 'track', 'train', 'trapped', 'travel',
       'tries', 'trip', 'trouble', 'true', 'truth', 'try', 'trying',
       'turn', 'turned', 'turns', 'tv', 'ultimately', 'uncle', 'uncover',
       'unexpected', 'united', 'unlikely', 'use', 'using', 'vampire',
       'video', 'village', 'violent', 'want', 'wants', 'war', 'way',
       'wealthy', 'wedding', 'west', 'western', 'white', 'wife', 'wild',
       'win', 'woman', 'women', 'work', 'working', 'works', 'world',
       'writer', 'wrong', 'year', 'years', 'york', 'young', 'younger'],
      dtype=object)

In [81]:
len(cv.get_feature_names_out())

500

In [105]:
cv.get_feature_names_out()

array(['accident', 'act', 'action', 'adventur', 'affair', 'age', 'agent',
       'agre', 'alien', 'alway', 'america', 'american', 'ancient',
       'angel', 'ani', 'anim', 'anoth', 'anyth', 'apart', 'arm', 'armi',
       'arriv', 'art', 'artist', 'ask', 'assassin', 'assign', 'attack',
       'attempt', 'author', 'away', 'bad', 'band', 'base', 'battl',
       'beauti', 'becom', 'befor', 'begin', 'believ', 'best', 'big',
       'black', 'blood', 'bodi', 'bond', 'book', 'born', 'boss', 'boy',
       'boyfriend', 'break', 'bring', 'british', 'brother', 'brutal',
       'build', 'busi', 'california', 'captain', 'captur', 'car',
       'career', 'case', 'caught', 'caus', 'center', 'centuri',
       'challeng', 'chanc', 'chang', 'charact', 'child', 'childhood',
       'children', 'cia', 'citi', 'city', 'class', 'close', 'club',
       'coach', 'colleg', 'come', 'comedi', 'commun', 'compani',
       'confront', 'continu', 'control', 'convinc', 'cop', 'corrupt',
       'countri', 'coupl', 'crash', 'creat', 'creatur', 'crew', 'crime',
       'crimin', 'cross', 'danger', 'dark', 'date', 'daughter', 'david',
       'day', 'dead', 'deadli', 'deal', 'death', 'decid', 'deep',
       'desert', 'desper', 'despit', 'destroy', 'detect', 'determin',
       'develop', 'die', 'differ', 'director', 'disappear', 'discov',
       'doctor', 'documentari', 'doe', 'doesn', 'dog', 'don', 'dr',
       'drama', 'dream', 'drug', 'dure', 'earth', 'embark', 'encount',
       'end', 'enter', 'entir', 'epic', 'escap', 'event', 'everi',
       'everyon', 'everyth', 'evil', 'ex', 'execut', 'exist', 'experi',
       'eye', 'face', 'fail', 'fall', 'famili', 'family', 'fantasi',
       'far', 'fate', 'father', 'fbi', 'fear', 'feel', 'fellow', 'fight',
       'film', 'final', 'follow', 'forc', 'form', 'frank', 'free',
       'french', 'friend', 'friends', 'friendship', 'futur', 'game',
       'gang', 'gener', 'girl', 'girlfriend', 'god', 'goe', 'good',
       'govern', 'great', 'group', 'grow', 'guy', 'ha', 'hand', 'happen',
       'happi', 'hard', 'head', 'heart', 'help', 'hero', 'hi', 'high',
       'hire', 'histori', 'hit', 'hold', 'home', 'hope', 'horror', 'hous',
       'human', 'hunt', 'hunter', 'husband', 'ii', 'includ', 'insid',
       'inspir', 'intern', 'investig', 'involv', 'island', 'jack',
       'jackson', 'jame', 'jean', 'job', 'john', 'join', 'journey',
       'just', 'kid', 'kidnap', 'kill', 'killer', 'king', 'know', 'known',
       'la', 'land', 'late', 'later', 'law', 'lawyer', 'lead', 'leader',
       'learn', 'leav', 'led', 'left', 'legendari', 'lie', 'life', 'like',
       'littl', 'live', 'lives', 'lo', 'local', 'london', 'long', 'look',
       'lose', 'lost', 'love', 'lover', 'magic', 'major', 'make', 'man',
       'manag', 'mani', 'mark', 'marri', 'master', 'mean', 'meet',
       'member', 'men', 'michael', 'middl', 'militari', 'million', 'mind',
       'miss', 'mission', 'modern', 'money', 'mother', 'movi', 'mr',
       'murder', 'music', 'mysteri', 'nation', 'need', 'new', 'nick',
       'night', 'noth', 'novel', 'obsess', 'offer', 'offic', 'old', 'onc',
       'onli', 'open', 'oper', 'order', 'organ', 'owner', 'pair',
       'parent', 'parents', 'parti', 'partner', 'passion', 'past', 'path',
       'peopl', 'perfect', 'person', 'peter', 'place', 'plan', 'planet',
       'play', 'plot', 'polic', 'polit', 'popular', 'power', 'presid',
       'prison', 'problem', 'produc', 'promis', 'protect', 'prove',
       'pursu', 'queen', 'quest', 'question', 'quickli', 'race', 'rais',
       'real', 'realiz', 'realli', 'receiv', 'recent', 'relationship',
       'remain', 'report', 'rescu', 'rest', 'retir', 'return', 'reunit',
       'reveal', 'reveng', 'right', 'rise', 'rival', 'road', 'rock',
       'role', 'romanc', 'romant', 'rule', 'run', 'russian', 'ruthless',
       'sam', 'save', 'scheme', 'school', 'sciencefict', 'scientist',
       'search', 'second', 'secret', 'secur', 'seek', 'seemingli', 'self',
       'send', 'sent', 'seri', 'set', 'sever', 'sex', 'sexual', 'share',
       'ship', 'sinc', 'singer', 'singl', 'sister', 'small', 'soldier',
       'someth', 'son', 'soon', 'south', 'space', 'special', 'spend',
       'spirit', 'stand', 'star', 'start', 'state', 'stay', 'steal',
       'stop', 'stori', 'strang', 'stranger', 'street', 'struggl',
       'student', 'success', 'suddenli', 'summer', 'surviv', 'suspect',
       'taken', 'tale', 'talent', 'target', 'teacher', 'team', 'teen',
       'teenag', 'tell', 'terrifi', 'terror', 'terrorist', 'test',
       'themselv', 'thi', 'thing', 'think', 'threaten', 'thriller', 'tim',
       'time', 'togeth', 'tom', 'town', 'track', 'train', 'transform',
       'trap', 'travel', 'tri', 'trip', 'troubl', 'true', 'truth', 'turn',
       'tv', 'ultim', 'uncov', 'unexpect', 'unit', 'unlik', 'use',
       'vampir', 'veri', 'victim', 'video', 'violent', 'visit', 'wa',
       'want', 'war', 'way', 'wealthi', 'west', 'western', 'white',
       'wife', 'win', 'wit', 'woman', 'women', 'work', 'world', 'writer',
       'wrong', 'year', 'years', 'york', 'young'], dtype=object)

In [163]:
len(cv.get_feature_names_out())

5000

In [83]:
pip install nltk

Requirement already satisfied: nltk in c:\users\admin\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\admin\anaconda3\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\admin\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\admin\anaconda3\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\admin\anaconda3\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [96]:
import nltk

In [164]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [165]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [166]:
new_df['tags'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tags, Length: 4806, dtype: object

In [88]:
ps.stem('dancing')

'danc'

In [167]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav jamescameron'

In [93]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict samworthington zoesaldana sigourneyweav jamescameron'

In [168]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17276\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [172]:
from sklearn.metrics.pairwise import cosine_similarity

In [177]:
similarity=cosine_similarity(vectors)

array([0.13957263, 1.        , 0.08399211, ..., 0.03217447, 0.        ,
       0.03494283])

In [127]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(2997, np.float64(0.5590169943749475)),
 (61, np.float64(0.4767312946227962)),
 (200, np.float64(0.4743416490252569)),
 (1192, np.float64(0.4564354645876385)),
 (507, np.float64(0.435285750066007))]

In [190]:
def recommend(movie):
    movie = movie.lower().strip()
    movie_index = new_df[new_df['title'].str.lower().str.strip() == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [179]:
new_df[new_df['title']=='Avatar'].index[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [117]:
new_df[new_df['title'].str.lower().str.strip() == 'batman begins']

,movie_id,title,tags
119,272,Batman Begins,"driven by tragedy, billionair bruce wayn dedic..."

In [191]:
recommend('Batman Begins')

synecdoche, new york
10th & wolf
american psycho
sexy beast
copying beethoven

In [137]:
new_df.iloc[2997].title

movie_id                                                 9355
title                              mad max beyond thunderdome
tags        mad max becom a pawn in a decad oasi of a tech...
Name: 2998, dtype: object

In [149]:
import sklearn
print(sklearn.__version__)

1.6.1

In [180]:
print(new_df['title'].unique())

['avatar' "pirates of the caribbean: at world's end" 'spectre' ...
 'signed, sealed, delivered' 'shanghai calling' 'my date with drew']